#about {
	padding-top: 0px;
}

#f1 {
	width: 100%;
}

#head_icons {
	text-align: center;
	border-left-style: solid;
	border-right-style: solid;
	margin-left: 10%;
	margin-right: 30%;
}

#head {
   text-align: center;
}

#head h2{
   font-size: 30px;
}

#con {
	text-align: center;
	margin-right: 25%;
}

#con p{
	margin-right: 18px;
}

#footer {
	float: none;
	text-align: center;
	margin: auto;
	margin-top: 150px;
	width: 220px;
}

#pic img {
	width: 60%;
	height: 20%;
}

@media only screen and (max-width: 400px) {
	#head_icons {
		text-align: center;
		border-left-style: solid;
		border-right-style: solid;
		margin-left: 10%;
		margin-right: 22%;
	}
	
}
