@import url('https://fonts.googleapis.com/css2?family=Esteban&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.fleft {
	float: left;
}

.fright {
	float: right;
}

.clear {
	clear: both;
}

.hicon {
	padding: 5px;
	margin-top: 15px;
	padding-left: 15px;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

#about {
	padding-top: 0px;
}

#f1 {
	margin-top: 0px;
	background-image: url("../img/bg.png");
	width: 100%;
	color: black;
}


a:link {
  color: rgb(100,100,100);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: skyblue;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
	color: rgb(100,100,100);
	background-color: transparent;
	text-decoration: none;
}

#pic img {
	width: 251px;
	height: 550px;
}

#con {
	float: right;
	margin: auto;
	margin-top: 15px;
	margin-right: 2%;
	margin-bottom: 2%;
}

#con img{
	width: 25px;
	height: 25px;
}

#con p{
	margin-left: 18px;
}

#footer {
	float: left;
	margin: auto;
	margin-top: 15px;
	width: 220px;
	margin-right: 2%;
	margin-bottom: 2%;
}
